/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');


/* Global */
html {
  font-size: 16px;
}
html, p {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
}
h2, h3, q {
  font-family: Cambria, Times, serif;
}
@media only screen and (max-width: 620px) {
  h2, h3, q {
    font-family: inherit;
  }
}
body {
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
  transition: all 300ms linear 30ms;
}
.wrapper:hover,
.wrapper:focus,
.wrapper:active {
  z-index: 95;
  background-color: hsl(0, 0%, 90%);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
}
.flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.bold-600 {
  font-weight: 600;
}
.dark-gray {
  color: hsl(0, 0%, 30%);
}
.med-gray {
  color: hsl(0, 0%, 60%);
}

/* Header */
.header {
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid lightgray;
}
header {
  height: 4rem;
  padding: 0 1.5rem;
  width: auto;
  max-width: 1080px;
  margin: 0 auto;
}
.logo {
  flex-grow: 1;
}
.logo img,
.logo p {
  display: inline-flex;
}
.logo img {
  height: 2rem;
  width: auto;
}
.logo p {
  font-size: 1.2rem;
}
header nav img {
  display: none;
}
header nav a.text {
  text-decoration-line: none;
  color: hsl(0, 0%, 30%);
  font-size: 1.1rem;
  padding: 0 0.5rem;
  transition: all 150ms linear 100ms;
}
header nav a.text:hover,
header nav a.text:focus {
  font-weight: bold;
}



  /* Header - Mobile */
  @media only screen and (max-width: 620px) {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      min-width: 15rem;
    }
    header .logo,
    header nav a.text {
      display: none;
    }
    header nav a {
      padding: 0 2rem;
      transition: all 100ms linear 25ms;
    }
    header nav a:hover,
    header nav a:focus {
    color: white;
    padding: 0.9rem 2rem;
    background-color: hsl(0, 0%, 80%);
    }
    .header nav a:active {
      transition: all 50ms linear 0ms;
      color: white;
      background-color: hsl(0, 0%, 80%);
      box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.7);
    }
    header nav img {
      display: inline-block;
      height: 2rem;
      width: auto;
    }
  }

/* Banner */
.banner-wrap {
  position: relative;
  top: 4rem;
}
.banner {
  padding: 2rem 1.5rem;
  max-width: 1080px;
  margin: 0 auto;
}
.banner img {
  width: 60%;
}
.banner article {
  padding: 0 3rem;
}
.banner h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
}
.banner h3 {
  line-height: 1.2;
  padding: 2rem 0;
}
.banner .btn {
  margin: 0 auto;
  display: block;
  width: 70%;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  background-color: hsl(0, 0%, 60%);
  text-decoration-line: none;
  line-height: 1.5;
  opacity: 0.6;
  transition: all 250ms linear 50ms;
}
.banner .btn:hover,
.banner .btn:focus {
  opacity: 1;
  border-radius: 0;
}

  /* Banner - Mobile */
  @media only screen and (max-width: 620px) {
    .banner {
      flex-direction: column;
      align-items: unset;
      padding: 0;
    }
    .banner img {
      width: 100%;
    }
    .banner article {
      padding: 2rem 1rem;
    }
    .banner h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    .banner h3 {
      font-size: 2rem;
      padding: 0 0 1.5rem;
    }
    .banner .btn {
      font-size: 2rem;
    }
  }


  /* Information */
  .infobox {
    position: relative;
    top: 4rem;
  }
  .info-box .mobile {
    display: none;
  }
  .info {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }
  .info .main {
    width: 60%;
    padding-right: 1.5rem;
    border-right: solid 2px hsl(0, 0%, 80%);
  }
  .info .main img {
    width: 100%;
    padding-bottom: 2rem;
  }
  .info .main h2 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .info .main q {
    display: block;
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.1;
    padding-bottom: 2rem;
  }
  .info .main p {
    font-size: 1rem;
  }
  .info .sidebar {
    flex-direction: column;
    width: 40%;
    padding: 0;
  }
  .info-box {
    width: 90%;
    height: auto;
    padding: 0;
    opacity: 0.75;
    transition: all 500ms linear 25ms;
  }
  .info-box:hover {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0rem;
    opacity: 1;
  }
  .info-box img {
    width: 35%;
    height: auto;
    padding: 1rem;
  }
  .info-box .info-item h2 {
    display: block;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .info-box .info-item p {
    line-height: 1.3;
    padding-bottom: 0.5rem;
  }
  .info-box .info-item a {
    text-decoration-line: none;
    color: hsl(0, 0%, 30%);
    transition: all 100ms linear 25ms;
  }
  .info-box .info-item a:hover {
    color: hsl(0, 0%, 0%);
  }
  .info-box .info-item a:active {
    transition: all 5ms linear 2ms;
    text-shadow: 1px 1px 1px hsl(0, 0%, 10%);
  }

    /* Information - Mobile */
    @media only screen and (max-width: 620px) {
      .info .sidebar {
        width: 100%;
        padding: 1rem;
      }
      .info .main {
        display: none;
      }
      .info .mobile {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 0 1rem;
      }
      .info-box {
        margin: 0 auto;
        overflow: hidden;
        flex-direction: column;
        align-items: unset;
        margin-bottom: 1rem;
        background-color: hsl(0, 0%, 95%);
      }
      .info-box img {
        display:  none;
      }
      .info-box .info-item {
        padding: 1rem;
      }
      .info-box .info-item h2 {
        font-size: 2rem;
      }
      .info-box .info-item p, a {
        font-size: 1.5rem;
      }
    }

  /* Courses */
  .courses-wrap {
    position: relative;
    top: 4rem;
  }
  .learning {
    max-width: 1080px;
    margin: 0 auto;
    flex-direction: column;
  }
  .learning h2 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0 0;
  }
  .courses {
    flex-direction: row;
    padding: 1rem 3.5rem;
    flex-wrap: wrap;
    align-content: center;
  }
  .course {
    width: 25%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    filter: grayscale(50%);
    opacity: 0.8;
    transition: all 350ms linear 20ms;
    background-color: hsl(0, 0%, 95%);
  }
  .course:hover {
    filter: grayscale(0%);
    opacity: 1;
    background-color: hsl(0, 0%, 100%);
  }
  .course img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .course .course-info {
    padding: 1rem 1rem 1.5rem;
  }
  .course-info h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .course-info h3 {
    padding: 0.5rem 0 1rem;
  }

    /* Courses - Mobile */
    @media only screen and (max-width: 620px) {
      .info .sidebar {
        padding-bottom: 0;
      }
      .learning {
        padding: 1rem 1rem 2rem;
      }
      .learning h2 {
        padding: 1rem;
      }
      .courses {
        flex-flow: column nowrap;
        padding: 0;
        align-items: center;
        width: 100%;
      }
      .course {
        width: 50%;
        padding: 0.25rem;
      }
      .course:hover {
        height: auto;
        filter: grayscale(0%);
        opacity: 1;
        background-color: hsl(0, 0%, 100%);
      }
      .course .course-info {
        display: block;
        text-align: center;
        padding: 0;
        margin: 1rem 0;
        width: 100%;
      }
      .course-info h2 {
        padding: unset;
      }
      .course img,
      .course h3,
      .course p {
        display: none;
      }
    }
